h2{
  font-size: clamp(20px 1vh 40px);
}

.grid-container {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto,auto);
  grid-gap: 2px;
  grid-template-areas:
  "landing landing landing landing landing landing landing"
  "padL divider divider divider divider divider padR"
  "padL subtitle subtitle subtitle subtitle subtitle padR"
 
  "padL2 shop shop shop shop shop padR2"
  "padL2 shop shop shop shop shop padR2"
  ;
}
.grid-content {
  background-color: blue;
}
.grid-divider {
  grid-area: divider;
  text-align: center;
  text-justify: center;
  padding: 10px 0;
}

.landing{
  grid-area: landing;
  height: 30vh;
  background-image: url("/assets/images/black_estate_hero.jpg");
  background-position: center;
  background-size: cover;
}

.subtitle{
  grid-area: subtitle;
  text-align: center;
  padding: 0 20px;
}



.img_container img{
  height: 4vw;
  width:60%;
}



.grid-padL {
  grid-area: padL;
}
.grid-padR {
  grid-area: padR;
}
.grid-padL2{
  grid-area: padL2;
}
.grid-padR2{
  grid-area: padR2;  
}

.shop{
  grid-area: shop;
  border: pink 2px solid;
}
.shop-item{
  display: flex;
  object-fit: fill;
  flex:1;
  flex-direction: column;
  align-items: center;
}

.shop-item img{
  justify-content: center;
  align-items: center;
}

.shop-item h3{
  white-space: nowrap;
  text-align: center;
  font-size: clamp(16px 1vh 20px);
  color: red;
 
}



/* -- Auto Grid  -- */

.grid-container-auto{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-rows: repeat(auto-fill,minmax(auto,auto));

}
.grid-content-auto{
  border: 3px solid red;
}

.grid-content-auto img{
  width: 15vh;
  height: auto;

  object-fit: cover; 
  
}

@media (max-width: 768px){
  .grid-container {
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 100vw ;
    grid-auto-rows: minmax(auto,auto);
    grid-template-areas:
    "landing"
    "divider"
    "subtitle"
    "paragraph"
    "shop "
    
    ;
  }
}