@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Libre-Baskerville-Regular";
  src: url("/assets/fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/fonts/Roboto-Light.ttf");
}

// █▀▄▀█ █ ▀▄▀ █ █▄░█ █▀
// █░▀░█ █ █░█ █ █░▀█ ▄█

@mixin login_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4em;
  max-width: 8em;
  min-width: 9em;
  border-radius: 4em;
  background-color: $color_Maroon;

  color: $color_Cream;
}

@mixin join_button {
  background-color: $color_Cream;
  width: min(8em, 8em);
  height: min(2.3em, 2.3em);
  color: $color_Maroon;
  padding: 0;
  margin: 0;
  border-radius: 4em;
  border: $color_Maroon 2px solid;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

// █░█ ▄▀█ █▀█ █▀
// ▀▄▀ █▀█ █▀▄ ▄█

// $body_Font:  ;
$main_Font: "Libre-Baskerville-Medium";
$secondary_Font: "Roboto-Light";
$color_Maroon: #45040c;
$color_Cream: #f5f1ed;

// █▀▀ █░░ █▀█ █▄▄ ▄▀█ █░░ █▀
// █▄█ █▄▄ █▄█ █▄█ █▀█ █▄▄ ▄█

body {
  background-color: $color_Cream;
}

h3 {
  font-size: clamp(1vh, 1.5em, 1.2em);
}

// █░█ █▀▀ ▄▀█ █▀▄ █▀▀ █▀█
// █▀█ ██▄ █▀█ █▄▀ ██▄ █▀▄

nav {
  padding-bottom: 1.2em;
  // Logo
  div:nth-of-type(1) img {
    height: 100%;
    margin-left: 0.5em;
  }
  //Nav Links
  div:nth-of-type(2) {
    display: flex;
    align-items: flex-end;
  }
  // Links
  div:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .login_button {
      @include login_button();
      margin-right: 3em;
      h3 {
        color: $color_Cream;
        padding: 0;
        margin: 0;
      }
    }
  }
  img {
    height: 30%;
  }
  div {
    flex: 1;
    text-align: center;
    align-items: flex-end;

    h3 {
      font-family: $secondary_Font;
      flex: 1;
      margin-bottom: 0;
      color: $color_Maroon;
    }
  }
}

// █▀▀ █▀█ █▀█ ▀█▀ █▀▀ █▀█
// █▀░ █▄█ █▄█ ░█░ ██▄ █▀▄

footer {
  display: flex;
  align-items: flex-start;
  background-color: $color_Cream;
  padding-top: 3em;

  .footer_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    white-space: nowrap;

    ul {
      margin-left: 6em;
    }
  }
  ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  li {
    h4 {
      margin-bottom: 0.5em;
      margin-top: 0;
      color: $color_Maroon;
      font-family: $secondary_Font;
      font-size: 1.3em;
    }
    margin-bottom: 0.2em;
    font-family: $secondary_Font;
  }
}
.login_button {
  @include login_button();
}
.join_button {
  @include join_button();
  margin-bottom: 1em;
}

#burger {
  display: none;
}
#drop_down {
  display: none;
}

.hero_image {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 5%,
      rgba(0, 0, 0, 0)
    ),
    url("/assets/images/black_estate_hero.jpg");
  background-size: cover;
  height: max(60vh, 360px);
}

.landing {
  position: relative;
  color: $color_Cream;
  max-height: 60vh;
  min-height: 360px;
  .landing_text {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: clamp(40px, 10vw, 5em);
      margin-bottom: 0.2em;
      margin-top: min(1em, 0.3em);
    }
    p {
      max-width: 600px;
      margin-bottom: 2vh;
    }
    position: absolute;
    left: calc(2vw + 0.8em);
    bottom: 3em;
    width: min(800px, 90%);
    height: max(10vh, 80%);
  }
  .join_button {
    @include join_button;
  }
}
.flex_parent {
  display: flex;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shop {
    flex-direction: column;
    padding: 0.6em;
    h3 {
      margin-bottom: 0.5em;
      white-space: nowrap;
    }
  }
  .img_container img {
    height: 30vh;
  }
}

.ratings {
  background-color: $color_Maroon;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  color: $color_Cream;
  text-align: center;
  .flex_child {
    margin-bottom: 1em;
    max-width: 50%;
  }
  .img_container {
    flex: 1;
    justify-content: space-around;
    padding: 0 30%;
  }
  div {
    padding-left: min(25px, 30%);
    padding-right: min(25px, 30%);
  }
  div:nth-child(1) {
    margin-bottom: 4em;
  }
}

.wrap {
  flex-wrap: wrap;
}

.flex_child {
  flex: 1;
}

.flex_parent_column {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.spacer_div {
  flex-shrink: 2;
}

.page_divider {
  margin: 1em;
  margin-bottom: 2em;
  img {
    width: min(40em, 100%);
    margin: 0.5em;
  }
  h2 {
    margin: 0.5em;
  }
}

section.inverted_colors {
  padding: 2em 10%;
  margin: 0;
  background-color: $color_Maroon;
  color: $color_Cream;
  text-align: center;
  align-items: center;
  justify-content: center;

  .input_div {
    margin-top: 3em;
    flex-direction: row;
  }
  div {
    margin: 2%;
  }
  h2 {
    white-space: nowrap;
    font-size: 2.5em;
  }
  p {
    width: 60%;
    font-family: $secondary_Font;
    font-size: large;
  }
  input {
    height: 2.3em;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    margin-right: 3em;
    font-family: $secondary_Font;
    font-weight: bold;
    margin-bottom: 0 !important;
  }
  .submit_button {
    @include join_button();
  }
}

// █▀▀ ▄▀█ █░░ █░░ █▀▀ █▀█ █▄█
// █▄█ █▀█ █▄▄ █▄▄ ██▄ █▀▄ ░█░

.gallery_section {
  align-items: center;
  justify-content: center;
  padding: 0 30%;
  margin-bottom: 8vh;
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: max(1%, 1em);
    margin-bottom: max(1%, 1em);
    grid-template-areas: "gal_image1 gal_image2 gal_image3";
    .grid_item:nth-of-type(1) {
      grid-area: gal_image1;
      background-image: url(/assets/images/square_image.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50%;
    }
    .grid_item:nth-of-type(2) {
      grid-area: gal_image2;

      background-image: url(/assets/images/tall_image.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50%;
    }
    .grid_item:nth-of-type(3) {
      grid-area: gal_image3;

      background-image: url(/assets/images/really_wide_image.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50%;
    }
  }
  .grid_container:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: max(1%, 1em);
    margin-bottom: max(1%, 1em);
    grid-template-areas: "gal_image1 gal_image2 gal_image3";
    .grid_item:nth-of-type(1) {
      grid-area: gal_image1;
      background-image: url(/assets/images/black_estate_hero.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50%;
    }
    .grid_item:nth-of-type(2) {
      grid-area: gal_image2;

      background-image: url(/assets/images/Black_estate_logo.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50%;
    }
    .grid_item:nth-of-type(3) {
      grid-area: gal_image3;

      background-image: url(/assets/images/square_image.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50%;
    }
  }
}

// █▀▄▀█ █▀▀ █▀▄ █ ▄▀█
// █░▀░█ ██▄ █▄▀ █ █▀█

@media (max-width: 1000px) {
  #burger {
    display: flex;
  }
  .hidden {
    display: none !important;
  }
  .hero_image {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 20%,
        rgba(0, 0, 0, 0)
      ),
      url("/assets/images/black_estate_hero.jpg");
  }
  #drop_down {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 0;
    background-color: $color_Cream;
    z-index: 1;
    padding: 0 1em 1em 1em;
    width: 98%;
  }
  .links {
    h3 {
      display: none;
    }
  }
  .main_nav div:nth-of-type(3) {
    display: none;
  }
  // Burger menu
  .main_nav div:nth-of-type(2) {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  .landing_text {
    justify-content: center;

    h1 {
      margin-bottom: 0 !important;
      padding: 0;
    }
    align-items: center;
    p {
      text-align: justify;
      margin-bottom: 32px;
    }
  }

  .gallery_section {
    padding: 0.5em;
    .grid_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "gal_image1 gal_image2";
    }
    .grid_item:nth-of-type(3) {
      display: none;
    }
  }
  .gallery_section .grid_container:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "gal_image1 gal_image2";
    .grid_item:nth-of-type(3) {
      display: none;
    }
  }

  section.inverted_colors input {
    margin-right: 0;
    margin-bottom: 1em;
  }

  section.inverted_colors {
    h2 {
      white-space: unset;
      font-size: 2.5em;
    }
  }
}

@media (max-width: 776px) {
  .spacer_div {
    display: none !important;
  }
  .input_div {
    flex-direction: column !important;
  }
  footer {
    flex-direction: column;
    align-items: center;
    div {
      margin-bottom: 2em;
    }
    .footer_links {
      display: none;
    }
  }
  .landing_text {
    text-align: center;
    p {
      text-align: center;
    }
  }
}
